<div class="row iq-uploader">
    <div class="col-md-12">
        <label>
            {{title}}
            <span *ngIf="required" class="red">*</span>
        </label>
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card card-body bg-light drop-zone">
            <div style="width: 100%; overflow: hidden;">
                <div style="width: 95%; float: left;text-align:left">
                    <p style="text-align:center; margin-bottom:0px">
                        Drag a file here or <a class="browse" (click)="onBrowseClick()">browse</a> to upload.
                    </p>
                    <div style="display:none">
                        <input #uploadEl
                               *ngIf="!multiple"
                               type="file"
                               ng2FileSelect
                               [uploader]="uploader"
                               (change)="uploadEl.value=''"
                               [disabled]="uploader?.queue?.length >= maxNumberOfFiles" />

                        <input #uploadElMultiple
                               *ngIf="multiple"
                               type="file"
                               ng2FileSelect
                               multiple
                               (change)="uploadElMultiple.value=''"
                               [uploader]="uploader"
                               [disabled]="uploader?.queue?.length >= maxNumberOfFiles" />
                    </div>
                </div>
                <div style="margin-left: 5%; text-align:right">
                    <span title="Clear all" style="font-size:20px"
                          *ngIf="uploader?.queue?.length  > 0 && !uploadIsInProgress"
                          (click)="uploader?.clearQueue()">
                        <span aria-hidden="true" class="">×</span>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="errorMessage.length > 0" style="padding-top:10px">
            <span class="red">
                {{errorMessage}}
            </span>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:20px;" *ngIf="uploader?.queue?.length > 0">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap style="text-align: right" colspan="3">
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()"
                                [disabled]="uploadIsInProgress">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                <tr *ngIf="uploader?.queue?.length == 0">
                    <td colspan="5">
                        No records found.
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div *ngIf="showProgressBar && uploadIsInProgress">
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
    </div>
</div>
