<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <ng-content select="[iq-modal-header]"></ng-content>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content select="[iq-modal-body]"></ng-content>
  </div>
  <div class="modal-footer">
    <ng-content select="[iq-modal-footer]"></ng-content>
  </div>
</ng-template>